<script type="text/javascript" src="../../routes/users.js"></script>
<script type="text/javascript" src="/jquery/jquery.js"></script>
<link rel="sylesheet" href="../../public/css/styles.css" >
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <h2>Agregar Usuario</h2>
                    <br>
                    <form action="/users/addUser" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" placeholder="Digite el nombre" autofocus>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" class="form-control" name="apellido" placeholder="Digite el apellido">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="number" class="form-control" name="cedula" placeholder="Digite la cedula" >
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="number" class="form-control" name="celular" placeholder="Digite el celular">
                        </div>
                        <br>
                        <h5>Fecha de registro</h5>
                        <div class="form-group">
                            <input type="date" class="form-control" name="fecha_registro" placeholder="">
                        </div>
                        <br>
                        <h5>Seleccione membresia</h5>
                        <div class="form-group">
                            <select class="form-select" name="membresia" required>
                                <option value="Dia">Día</option>
                                <option value="Semana">Semana</option>
                                <option value="15dias">15 días</option>
                                <option value="Mes">Mes</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="number" class="form-control"  name="cantidad" placeholder="Valor del pago" >
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="file" id="cover" class="form-control" name="image" >
                            <style type="text/css">
                                .img img{
                                    width: 372px; heigth:200px; border-radius: 5px;
                                }
                            </style>
                            <div class="img" id="preview"></div>

                        </div>
                        <script>
                            document.getElementById("cover").onchange = function(e) {   
                            
                            // Se crea el objeto FileReader 
                            let reader = new FileReader();   
                            
                            // Lee el archivo y se pasa a fileReader   
                            reader.readAsDataURL(e.target.files[0]);   
                            
                            // Cuando este listo ejecuta el código interno 
                            reader.onload = function(){ 
                            
                            let preview = document.getElementById('preview'), 
                            image = document.createElement('img'); 
                            image.src = reader.result; 
                            preview.innerHTML = ''; 
                            preview.append(image);
                            
                            }; 

                            }
                            </script>
                        <br>
                        <div class="form-group">
                            <button class="btn btn-block btn-dark">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

