<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido</h3>
                    <h3>  {{users.nombre}} {{users.apellido}}</h3>
                    <div><img style="width: 372px; heigth:200px; border-radius: 5px;" src="{{users.image_url}}"></div>
                    <br>
                   
                    <h4>Le quedan {{dias}} días</h4>
                    
                </div>
            </div>
        </div>

    </div>
</div>